@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
main {
  background-color: #171717;
}

body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.3s;
}

* {
  font-family: monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
